<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smartContract -->
      <package
            uri="http://www.ustb.edu.cn/sei/mde/SmartContractSpecification"
            class="edu.ustb.sei.mde.smartContractSpecification.SmartContractSpecificationPackage"
            genModel="model/smartContract.genmodel"/>
   </extension>

</plugin>
