<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated smartContract -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.ustb.sei.mde.smartContractSpecification.presentation.SmartContractSpecificationModelWizardID"
            name="%_UI_SmartContractSpecificationModelWizard_label"
            class="edu.ustb.sei.mde.smartContractSpecification.presentation.SmartContractSpecificationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SmartContractSpecificationModelFile.gif">
         <description>%_UI_SmartContractSpecificationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated smartContract -->
      <editor
            id="edu.ustb.sei.mde.smartContractSpecification.presentation.SmartContractSpecificationEditorID"
            name="%_UI_SmartContractSpecificationEditor_label"
            icon="icons/full/obj16/SmartContractSpecificationModelFile.gif"
            extensions="smartcontractspecification"
            class="edu.ustb.sei.mde.smartContractSpecification.presentation.SmartContractSpecificationEditor"
            contributorClass="edu.ustb.sei.mde.smartContractSpecification.presentation.SmartContractSpecificationActionBarContributor">
      </editor>
   </extension>

</plugin>
